ollama
chromadb
pdfplumber 
langchain~=0.3.25
langchain-core~=0.3.60
langchain-ollama
langchain-community~=0.3.24
langchain_text_splitters
unstructured
unstructured[all-docs]
fastembed
pikepdf
sentence-transformers
elevenlabs
pydantic~=2.11.4
streamlit~=1.45.1