ollama
chromadb
pdfplumber 
langchain
langchain-core~=0.3.60
langchain-ollama
langchain-community
langchain_text_splitters
unstructured
unstructured[all-docs]
fastembed
pikepdf
sentence-transformers
elevenlabs
pydantic~=2.11.4